@font-face{
    src: url(../fonts/Omar-Bold.ttf);
    font-family: defaultOmar;
    font-display: fallback;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body,html{background-color: #eeeeee;;}
body{
    font-family: defaultOmar, Tahoma, Geneva, Verdana, sans-serif,'Times New Roman';
    direction: rtl;
    position: relative;
}
#app{position: relative;}

.to-Top{
    position: fixed;
    bottom: 30px;
    left: 40px;
    z-index: 633;
    background-color: #59a918;
    padding: 6px 12px;
    text-align: center;
    line-height: 1;
    font-weight: 700;
    font-size: 28px;
    cursor: pointer;
    color: #fff;
    display: none;
}
.change-color{
    position: fixed;
    top: 33%;
    left: 0;
    font-size: 1.9em;
    background: #333;
    padding: 5px 10px;
    line-height: 0;
    color: #fff;
    z-index: 88;
    overflow: hidden;
    padding-left: 25px;
    cursor: pointer;
}

/***********logo & name Style************/
.logo{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    max-height:120px;
    background-color: #ede9e9;
    z-index: 99;
    color: #000;
}
.logo img{max-width:100px;}
.logo .container div{
    display: flex;
    max-height: 80px;
    justify-content: space-between;
}

/****************Nav Bar***************/
.accses .navbar {
    position: fixed;
    z-index: 99;
    top: 69px;
    width: 100%;
}

.accses .navbar-nav{
    float: none;
}
.accses .navbar.dark-mood{border-bottom: 1px solid #484747;border-top: 1px solid #484747;}
.accses nav .collapse>ul{
    display: flex;
    justify-content: space-around;
    align-items: baseline;
    font-size: 18px;
    line-height: 0.5;
}
.accses nav .collapse>ul .item{
    list-style: none;
}
.accses .dropdown-menu>li>a {
    display: block;
    padding: 6px 20px;
    clear: both;
    font-weight: 400;
    line-height: 1.42857143;
    font-size: 17px;
    color: #333;
    white-space: nowrap;
}
.accses .dropdown-menu .divider {
    height: 3px;
    margin: 4px 0;
}
.navbar-nav .open .dropdown-menu {text-align: right;}

.accses .dropdown-menu>li>a:focus,.accses .dropdown-menu>li>a:hover,.accses nav .collapse>ul .item a:hover,.accses .navbar-default .navbar-nav>.active>a{
    background-color: #f00 !important;
    color: #fff!important;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;

}
.accses .dropdown-menu>li>a:focus,.accses .dropdown-menu>li>a:hover{
    padding-left: 30px;
}
/*****************Trend**********************/
.trend{
    position: relative;
    top: 121px;
    left: 0;
    width: 100%;
    height: 60px;
    overflow: hidden;
    box-shadow: 0px 1px 4px -2px #ddd;
    background-color: #fff;
    text-align: right;
    direction: rtl;
}
.trend .container>span{
    font-size: 26px;
    text-align: center;
    line-height: 54px;
    color: #f00;
    box-shadow: -2px 5px 0px -3px #f00;
}
.trend marquee{
    width: 100%;
    position: absolute;
    top: 0;
    margin-right: 49px;
    height: 100%;
}
.trend marquee>a{
    display: block;
    font-size: 18px;
    padding: 20px;
    text-decoration: none;
    color: #f00;
}

/****AD****/
.ad{
    position: fixed;
    top: 130px;
    width:60px;
    height: 140px;
    max-height: 140px;
    background-color: yellow;
}
.ad.left{
    left: 0;
    max-width: 190px;
}
.ad.right{right: 0;}
.ad.full-center,.ad.center{
    text-align: center;
    margin: 10px auto;
    width: 100%;
    position: relative;
    font-size: 3em;
}
.ad.center{width: 60%; float: right;}

/***Aside****/
.aside{
    position: absolute;
    top: 300px;
    left: 192px;
    width: 28%;
    max-width: 28%;
}
.aside .follow>span ,.aside .aside-ad-container>span,.videos-container>span:first-child,.sports>span:first-of-type,.detalies-content .info span,.sections-content>span:first-of-type {
    padding: 0 20px;
    margin-bottom: 4px;
    font-size: 25px;
    display: inline-block;
    font-family: 'Changa', sans-serif;
    background-color: #222;
    color: aliceblue;
    transform: skewX(24deg);
}

/*****ASide ad****/
.aside .ad{
    position: relative;
    width: 100%;
    margin-bottom: 9px;
    text-align: center;
    font-size: 2em;
}
.aside>.divider{
    position: absolute;
    top: 214px;
    width: 100%;
    height: 2px;
    display: block;
    background-color: #393939;
}

.aside .aside-ad-container{position: relative;top: -10px;}
.fixed{
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
    position: fixed !important;
    width: 28%!important;
    height: 65%!important;
    max-height: none;
    margin-top: 0;
}
.aside .aside-ad-container>span{
    position: absolute;
    display: inline-block;
    margin-top: 82px;
}
/*********************************************************/
/*******span اكمل القراءه****/
.sections-content .new a,.sports .right span:nth-of-type(2){
    margin:0;
    background-color: #55a217;
    padding: 5px 13px;
    display: inline-block;
    color: #fff;
    font-weight: 600;

}

/***************Footer******************/
footer{
    position: absolute;
    left: 0;
    bottom: -268px;
    width: 100%;
    height: 108px;
    background-color: #222;
    color: #707070;
}
footer .social,footer>span{
    padding: 5px 10px 0;
    font-size: 22px;
    float: right;
    display: flex;
    justify-content: space-between;
}
footer>span{display: block; float: left; text-align: left;}
footer .social a svg{margin: 0 12px; cursor: pointer;color: #707070;}
footer .social a:nth-of-type(1):hover svg{color: #3b5998;}
footer .social a:nth-of-type(2):hover svg{color: #dd4b39;}
footer .social a:nth-of-type(3):hover svg{color: #ff0000;}
footer .social a:nth-of-type(4):hover svg{color: #4dc247;}
footer .social a:nth-of-type(5):hover svg{color: #55acee;}

/*****Dark-Mode****/

.dark-mood{
    background-color: #18191a !important;
    color: #dadce1 !important;
    border: none;
}


/* The Modal (background) */
.modal {
    display: none; 
    position: fixed; 
    z-index: 89; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: hidden;  
    background-color: rgba(0,0,0,0.4);
  }
  
  /* Modal Content/Box */
  .modal-content {
    text-align: center;
    background-color: #1c2d4e;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #157a88;
    width: 80%;
    padding-bottom: 39px;
  }
  .modal-content p{
    text-align: center;
    font-size: 2em;
    padding: 12px;
    margin-bottom: 24px;
    color: #b5b5b5;
  }
  .modal-content a{
    margin: 13px 20px;
    text-decoration: none;
    padding: 3px 27px;
    color: #fff;
    background-color: red;
  }
  .modal-content>a:last-of-type{background-color: #0ed10e;}
  /* The Close Button */
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

/******Scroll bar*****/

::-webkit-scrollbar {
    width: 6px;
}
  /* Track */
::-webkit-scrollbar-track {
    background: #eee; 
}
   
  /* Handle */
::-webkit-scrollbar-thumb {
    background: #157a88; 
}
  
  /* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #1c2d4e; 
}

/*****Media****/
@media(max-width:1420px) and (min-width:1200px){
    .aside{left: 134px;}
}
@media(max-width:1200px){
    .aside{left: 85px;}
}
@media(max-width:992px){
    .aside{
        float: none;
        position: absolute;
        top: 107%;
        right: 0;
        width: 97%;
        padding: 16px;
        max-width: none;
    }
    .content .ad{width: 100%;}

    
}
@media(max-width:768px){
}
@media(max-width:600px){
    .accses .navbar {top: 64px;}
    .logo h1{font-size: 26px;}
    .accses nav .collapse>ul {flex-direction: column;}
    .accses nav .collapse>ul .item {width: 100%;}
    .nav>li{width: 100%;}
    .aside{padding: 10px;}

    .trend {top: 116px;}
}
